<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New  Task</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar') %>
    <h1>Add new task</h1>
    <div class="container">
        <form class="todo-form" method="post" autocomplete="off">
            <input type="text" name="title" placeholder="Enter task title" required autocomplete="off"><br><br>
            <input type="text" name="username" placeholder="Enter your username" required autocomplete="off"><br><br>
            <textarea name="description" placeholder="Enter task description" autocomplete="off"></textarea><br><br>
            <button type="submit">Add New Task</button>
        </form>
    </div>
</body>
</html>
